# WebGIS Backend Hub Configuration
API_HOST=0.0.0.0
API_PORT=8000

# HiveMQ Cloud MQTT Broker
MQTT_HOST=829e7cb26c594257a7470e5a5af58064.s1.eu.hivemq.cloud
MQTT_PORT=8883
MQTT_USER=admin
MQTT_PASS=12345678
WEBGIS_MQTT_CLIENT_ID=webgis-backend-hub
